<h2 class="ui header">
    <i class="user icon"></i>
    <div class="content">
        Ladenverwaltung
    </div>
</h2>
<div class="ui label">
    {{model.owner.name}}
</div>
<div class="ui label">
    {{model.owner.email}}
</div>