{{#layout}}{{#title}}Fehler{{/title}}

<h2 class="ui icon header middle aligned center aligned">
    <i class="blue check icon"></i>
    <div class="content">
        Abmeldung erfolgreich.
        <div class="sub header"><a href="/">Zurück zur Startseite</a></div>
    </div>
</h2>
{{/layout}}