{{#layout}}{{#title}}Registrierung abgeschlossen{{/title}}

<h2 class="ui icon header middle aligned center aligned">
    <i class="blue check icon"></i>
    <div class="content">
        Laden erfolgreich registriert.
        <div class="sub header">Sie können sich jetzt <a href="/login">einloggen.</a></div>
    </div>
</h2>
{{/layout}}