{{#layout}}{{#title}}Termin gebucht{{/title}}

<h2 class="ui icon header middle aligned center aligned">
    <i class="blue check icon"></i>
    <div class="content">
        Termin gebucht.
        <div class="sub header"><a href="/">Zurück zur Startseite</a></div>
    </div>
</h2>
{{/layout}}