{{#layout}}{{#title}}Shop Details{{/title}}
<div class="ui middle aligned grid">
    <div class="column">
        {{>layout/shop}}
        <a class="ui primary button" href="/shops/{{model.shop.id}}/book">
            Termin buchen
        </a>
    </div>
</div>
{{/layout}}